*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties, update these for your own design */
:root {
    --ff-primary: 'Source Sans Pro', sans-serif; /* 'ff' stands for font-family */
    --ff-secondary: 'Source Code Pro', monospace; /* these are from Google Fonts */

    --fw-reg: 300; /*'fw' stands for font-weight*/
    --fw-bold: 700;

    --clr-light: #fff;
    --clr-gray: #eee;
    --clr-gray2: #ccc;
    --clr-dark: #303030;
    --clr-accent: #412485;
    --clr-neighbor1: #a3d2e4;
    --clr-neighbor2: #0C829E;
    --clr-neighbor3: #334A52;
    


    --fs-h1: 3rem;    /*'fs' stands for font-size*/
    --fs-h2: 1.5rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --fs-small: .6em;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.35), /*'bs' stands for box-shadow*/
          0.125em 0.125em 0.25em rgba(0,0,0,.25);
    --bw: 0em 0em 0.15em 0em;

}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 2.25rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

::-webkit-scrollbar {
    width: 9px
    !important
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--clr-neighbor2);
    border-radius: 3px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--clr-dark);
  }

/*------------------------------- Typography -------------------------------*/

h1,
h2,
h3 {
    line-height: 1;
    margin: 0.5em;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }
h5 { font-size: var(--fs-h3) }

/*------------------------------- General styles -------------------------------*/

html {
  scroll-behavior: smooth;
  height: 100%;
  position: relative;
}

body, 
#root {
  background: var(--clr-neighbor1);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6em;
  height: 100%;
  position: relative;
  overflow: overlay;
}

.wrapper {
  height: 100%;
  margin-bottom: -5.5rem;
  display: flex;
  flex-flow: column;
  background-color: var(--clr-light);
}

#root > .wrapper {
  height: auto; 
  min-height: 100%;
}

#main {
  padding-bottom: 5.5rem;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: bold;
}

a:link, a:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  /*transition: transform 150ms ease-in-out;*/
}

a:hover {
  transform: scale(1);
}

:focus {
  outline: none;
}

.App {
  text-align: center; 
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -5.5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.whiteFill {
  background: var(--clr-light);
  min-height: 10vh;
  text-align: center;
  flex-grow: 1;
  margin-top: -1px;
}

/*------------------------------- Buttons -------------------------------*/

.homeButton,
.navButton,
.submitLoginButton,
.productButton,
.searchButton,
.cartButton,
.payButton,
.productPageButton {
  display: inline-block;
  padding: .5em 1em;
  background: var(--clr-neighbor2);
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: .8rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: .25em;
  font-weight: var(--fw-bold);
  transition: transform 50ms linear;
  margin: 1em;
  border-width: 1px;
  border-bottom-width: 2px;
  border-color: black
}

@media (max-width: 855px) {
  .homeButton,
  .navButton,
  .submitLoginButton,
  .productButton,
  .searchButton,
  .payButton,
  .productPageButton {
    font-size: .6rem;
    margin: .5em;
    height: 40px;
  }
}

.submitLoginButton {
  margin-top: 2.5em;
  align-self: center;
}

.productButton,
.productPageButton {
  background: var(--clr-neighbor1);
  color: var(--clr-dark);
  margin-bottom: 0;
  margin-top: 0;
}

.productPageButton {
  margin: 1em;
}

.navButton {
  background: var(--clr-dark);
}

.searchButton {
  background: var(--clr-accent);
  border: none;
  height: 2.4rem;
}

.payButton {
  background: var(--clr-accent);
  padding: .5em 2em;
  font-size: var(--fs-body);
}

.cartButton {
  background: var(--clr-accent);
}

.buttonWrapper,
.buttonWrapperUpdate {
  display: flex;
  align-self: center;
  height: 4em;
}

.buttonWrapperUpdate {
  height: auto;
  margin-top: 2em;
}

.homeButton:hover,
.navButton:hover,
.submitLoginButton:hover,
.productButton:hover,
.productPageButton:hover,
.searchButton:hover,
.cartButton:hover,
.payButton:hover {
  transform: scale(1.05);
}

.buttonMarginHelp {
  margin-top: -1.5em;
}

.payButtonWrapper {
  height:600px;
}

.homeButton + .homeButton {
  margin-left: .5em;
}

.navGroup + .navGroup {
  margin-left: -.5em;
}

/*------------------------------- Header -------------------------------*/

.App-header {
  background-color: var(--clr-neighbor3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 5.5rem;
  margin-bottom: 0;
  padding: .5em;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.headerHelpType {
  display: flex;
  flex-direction: column;
  margin-top: .2em;
}

.headerProjectTitle {
  font-family: var(--ff-primary);
  font-size: var(--fs-h3);
  text-transform: uppercase;
  margin-top: -.2em;
  margin-bottom: 0em;
  margin-right: 1em;
  font-weight: bold;
}

.headerLink {
  align-self: center;
  justify-self: center;
}

.headerLink:hover {
  opacity: 0.7;
  transform: none;
}

.headerHelp {
  display: flex;
}

.smallboldText {
  color: var(--clr-neighbor2)
}

.smallboldTextUpper,
.smallboldTextUpperBlue {
  text-transform: uppercase;
  color: var(--clr-accent);
}

.smallboldTextUpperBlue {
  color: var(--clr-neighbor2);
  line-height: .5em;
}

.blueTextWrapper + .blueTextWrapper {
  margin-top: -1em;
}

.headerGithub {
  padding-left: 1em;
  align-self: center;
  min-width: 40px;
}

.headerGithub:hover {
  opacity: 0.7;
  transform: scale(1);
}

@media (max-width: 855px) {
  .headerProjectTitle {
    font-size: var(--fs-body);
    margin-right: .5em;
  }
  .headerGithub {
    padding-left: 0em;
  }
  .App-header {
    padding: .5em;
    height: 3.5em;
  }
  .headerLink {
    display: none;
  }
}

.cartSuperScript {
  line-height: 0;
  background: var(--clr-light);
  color: var(--clr-dark);
  padding: 1px 4px;
  border-radius: 15px;
}

.pageTitle,
.pageTitleShop {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-top: 2em;
  font-size: var(--fs-h3);
  line-height: 1em;
  background: var(--clr-gray);
}

.pageDescription,
.pageDescriptionShop {
  text-align: center;
  margin: 0;
  font-size: var(--fs-body);
  font-weight: var(--fw-reg);
  text-transform: uppercase;
  background: var(--clr-gray);
  color: var(--clr-neighbor2)
}

.pageTitleShop,
.pageDescriptionShop {
  background: var(--clr-light);
}

.pageTitleShop {
  padding-top: .5em;
}

/*------------------------------- Log in -------------------------------*/

.login {
  margin-top: 5vh;
  text-align: center;
}

.loginWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5em;
}

.loginForm {
  margin: 1em;
  padding: 1em 2em 1em;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 2px;
  border-color: var(--clr-neighbor3);
  border-radius: 3px;
  min-height: 325px;
  max-width: 28rem;
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.loginFormHelp {
  display: flex;
  flex-direction: column;
}

.loginForm  {
  min-width: 22rem;
}

.loginTitle {
  text-transform: uppercase;
  align-self: center;
  margin-bottom: 1em;
}

.submitUsername {
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 2px;
  border-color: var(--clr-neighbor3);
  border-radius: 2px;
  padding: .5em;
  margin-bottom: -1em;
}

.registerLinkText {
  font-size: var(--fs-small);
  margin: auto;
  align-self: center;
  justify-self: center;
  line-height: 1.5em;
}

.registerLinkTextBold {
  font-weight: var(--fw-bold);
  color: var(--clr-neighbor2)
}

.registerLinkTextBold:hover {
  text-decoration: underline;
}

/*------------------------------- Dashboard -------------------------------*/

.dashboardWrapper,
.dashboardWrapperAdmin {
  background: var(--clr-light);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "links info info info"
    "links hist hist hist"
    ;
  margin-top: -2px;
}

.dashboardWrapperAdmin {
  grid-template-areas: 
  "links info info info"
  ;
}

.dashboardHeader {
  font-size: var(--fs-h2);
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  margin-top: 1em;
  margin-bottom: 0em;
}

.dashboardRow {
  width: auto;
}

.dashboardSubheader {
  text-align: center;
  margin-top: 0em;
}

.dashboardInfoWrapper,
.dashboardLinkWrapper,
.dashboardHistoryWrapper {
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 2px;
  border-color: var(--clr-neighbor3);
  border-radius: 2px;
  margin: .5em;
  background: var(--clr-light);
}

.dashboardInfoWrapper {
  grid-area: info;
}

.dashboardHistoryWrapper {
  grid-area: hist;
}

.dashboardLinkWrapper {
  grid-area: links;
}

.dashboardCardTitle {
  text-transform: uppercase;
  background: var(--clr-dark);
  color: var(--clr-light);
  margin: 0px;
  padding: .5em;
  border-bottom: 2px solid var(--clr-neighbor2)
}

.dashboardList {
  padding-inline-start: 0px;
}

.dashboardListItem,
.dashboardListItemDark,
.dashboardListLink {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: var(--fs-body);
  padding: .5em 2em;
}

.dashboardListLink {
  padding: .5em;
  display: flex;
  justify-content: center;
  color: var(--clr-accent)
}

.dashboardListItemDark {
  background: linear-gradient(
    90deg, 
    rgba(51, 74, 82, 0) 5%, 
    var(--clr-gray2) 15%, 
    var(--clr-gray2) 85%, 
    rgba(51, 74, 82, 0) 95%
  );
  background: var(--clr-light);
}

.dashboardCategory {
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  font-family: var(--ff-secondary);
}

.dashboardInfo {
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
}

.orderWrapper {
  border: 1px solid var(--clr-neighbor2);
  border-radius: 3px;

}

.orderId {
  background: var(--clr-gray2);
  border-radius: 3px;
  padding: .2em 1em;
  text-align: center;
  margin: 0;
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  background: var(--clr-neighbor2);
  color: var(--clr-light)
}

.productsLength {
  background: var(--clr-gray2);
  border-radius: 3px;
  padding: .2em 1em;
  width: 300px;
  text-align: center;
  margin: auto;
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  background: var(--clr-neighbor1);
  color: var(--clr-dark)
}

.orderList,
.orderListPH {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: .5em 2em;
}

.orderListPH {
  width: 100%;
  padding: 0;
  background: var(--clr-gray);
  border: 1px solid var(--clr-neighbor2);
  border-radius: 3px;
  padding: 1em;
}

.orderListItem {
  line-height: 1.5em;
  font-size: var(--fs-small);
}

.orderLength{
  text-align: center;
  
}

.productOrderWrapper {
  background: var(--clr-gray);
  display: flex;
  flex-direction: column;
  padding: 1em;
  border-radius: 3px;
  font-size: 15px;
  width: 66vw;
  margin: .5em;
}

.productOrderWrapperInner {
  display: flex;
  justify-content: space-between;
}

.productOrderWrapperInner2 {
  display: flex;
}

.productOrderKeyItem {
  flex: 1;
  display: flex;
  justify-content: center;
}

.productOrderKeyItem:first-child > span { margin-right: auto; }

.productOrderKeyItem:last-child  > span { margin-left: auto;  }

.productOrderKey {
  font-weight: var(--fw-bold);
}

.orderStatusWrapper {
  display: flex;
}

.searchSelectWrapperAdmin {
  width: 100%;
}

.searchSelectAdmin {
  border-radius: 2px;
  border: 0;
  height: 2.4rem;
  padding: .5em 0;
  font-family: var(--ff-primary);
  outline: none;
  font-weight: var(--fw-bold);
  cursor:pointer;
  display:inline-block;
  position:relative;
  text-transform: uppercase;
  width: 100%;
}

.productCategoryHeaderAdmin {
  text-transform: uppercase;
  text-align: center;
  padding: .5em;
  margin: 0;
  margin-bottom: .5em;
  font-size: var(--fs-h3);
  background: var(--clr-gray2);
  border-radius: 3px;
  width: 100%;
  font-size: var(--fs-body);
}

/*------------------------------- Category & Product-------------------------------*/

.categoryForm {
  margin: 1em;
  padding: 1em 2em 1em;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 2px;
  border-color: var(--clr-neighbor3);
  border-radius: 3px;
  min-height: 225px;
  max-height: 50vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.submitPhoto {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.submitPhoto + label {
  font-size: 1.25em;
  font-weight: 700;
  color: var(--clr-light);
  background-color: var(--clr-neighbor2);
  display: inline-block;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 2px;
  border-color: var(--clr-dark);
  border-radius: 2px;
  margin-bottom: -.5em;
  transition: 0.2s;
  text-transform: uppercase;
  font-size: var(--fs-body);
}

.submitPhoto:focus + label,
.submitPhoto + label:hover {
  background-color: var(--clr-neighbor3);
}

.productDescription {
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 2px;
  border-color: var(--clr-neighbor3);
  border-radius: 2px;
  padding: .5em;
  font-family: var(--ff-secondary);
  font-size: .8rem;
  margin-bottom: -1em;
  outline: none;
  padding: .5em;
  resize: none;
  overflow: auto;
  min-height: 10vh;
  font-family: var(--ff-primary);
}

.submitUsernamePrice {
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 2px;
  border-color: var(--clr-neighbor3);
  border-radius: 2px;
  padding: .5em;
  margin-bottom: -1em;
}

input[type=number] {
  -moz-appearance: textfield;
}

select {
  text-transform: capitalize;
}

select:invalid {
  color: rgb(110, 110, 110);
}

select:focus {
  color: var(--clr-dark); /* color when focused */
}
select option:first-child{
  display: none;
}

.submitUsername option:checked{
  color: var(--clr-dark); /* color when selected but not focused */
}

/*------------------------------- Product Cards -------------------------------*/

.sectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -1px;
}

.productCardWrapper,
.whiteCardWrapper {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: var(--clr-light);

}

.whiteCardWrapper {
  background: var(--clr-light);
}

.productCategoryHeader,
.productCategoryHeaderWhite {
  text-transform: uppercase;
  text-align: center;
  padding: .5em;
  margin: 1em;
  font-size: var(--fs-h3);
  background: var(--clr-neighbor1);
  border-radius: 3px;
  padding: .5em 2em;
}

.productCategoryHeaderWhite {
  background: var(--clr-light);
  font-size: var(--fs-h3);
  padding-bottom: 0px;
}

.productCategoryDisplayWhite {
  font-size: var(--fs-small);
  text-align: center;
  margin-top: 0;
}

.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1em;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 2px;
  border-color: var(--clr-neighbor3);
  border-radius: 3px;
  background: var(--clr-light);
  width: 250px;
}

.productCardHeader {
  text-transform: uppercase;
  background: var(--clr-neighbor2);
  color: var(--clr-light);
  margin: 0px;
  padding: 11px 8px;
  border-bottom: 2px solid var(--clr-dark);
  height: 50px;
  width: 100%;
  letter-spacing: -1px;
  text-overflow: ellipsis;

  /* Needed to make it work */
  overflow: hidden;
  white-space: nowrap;
}

.productCardUnderHeader {
  display: flex;
  flex-direction: column;
  grid-template-rows: 50px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 1em;
  width: 250px;
  height: 600px;
}

.productCardInfo,
.productPageInfo {
  font-size: var(--fs-small);
  width: 210px;
  line-height: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.productPageInfo {
  width: 324px;
}

.productText{
  margin: 0;
  text-align: left;
}

.productCardPrice,
.productPagePrice {
  background: var(--clr-gray2);
  font-size: var(--fs-body);
  font-weight: var(--fw-bold);
  margin: .7em;
  padding: .33em 1em;
  border-radius: 3px;
  text-align: center;
}

.productPagePrice {
  margin-bottom: 0;
}

.productButtonRow{
  margin: 0;
  display: flex;
  flex-direction: column;
}

.productImageWrapper {
  align-content: center;
}

.productImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--clr-accent);
  border-bottom-width: 2px;
  border-radius: 2px;
}

.productCardPrice + .productButtonRow {
  margin-top: -.7em;
}

/*------------------------------- Product Page -------------------------------*/

.productPageImageWrapper {
  border: 1px solid var(--clr-accent);
  border-bottom-width: 2px;
  border-radius: 3px;
}

.productPageCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 3em auto;
  border-radius: 4px;
  background: var(--clr-light);
  width: 378px;
  border: 1px solid var(--clr-dark);
  border-bottom-width: 2px;
}

.productPageUnderHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 1em;
  width: 100%;
  height: 800px;
}

.productPageHeader {
  text-transform: uppercase;
  font-size: var(--fs-h3);
  background: var(--clr-accent);
  color: var(--clr-light);
  margin: 0px;
  padding: .5em;
  height: 50px;
  width: 100%;
  border-radius: 3px;
  border: 0px solid var(--clr-dark);
  border-bottom-width: 2px;
  text-overflow: ellipsis;

  /* Needed to make it work */
  overflow: hidden;
  white-space: nowrap;
}

.productPageText {
  margin: 0;
  text-align: left;
}

.productPageCategory {
  color: var(--clr-neighbor3);
  font-size: var(--fs-small);
}

.productPageExtras {
  line-height: 2px;
}

.inStockText,
.outOfStockText {
  color: var(--clr-light);
  background: var(--clr-accent);
  border-radius: 3px;
  padding: 2px 10px;
  line-height: 1em;
  font-size: var(--fs-small);
  text-transform: uppercase;
}

.outOfStockText {
  background: red;
}

.relatedProductsWrapper {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*------------------------------- Shop -------------------------------*/

.whiteFillHelp,
.whiteFillHelpCart,
.whiteFillHelpCartLarge {
  position: absolute;
  background: var(--clr-light);
  min-height: 10vh;
  flex-grow: 1;
  margin-top: -1px;
  width: 20%;
  border-right: 1px solid var(--clr-gray2);
}

.whiteFillHelpCart,
.whiteFillHelpCartLarge {
  width: 100%
}

.whiteFillHelpCartLarge {
  min-height: 50vh;
}

.shopWrapper {
  display: flex;
}

.leftSideBarWrapper {
  width: 20%;
  background: linear-gradient(
    0deg, 
    rgba(255, 255, 255, 0)10%, 
    var(--clr-gray) 20%, 
    var(--clr-gray) 80%, 
    rgba(255, 255, 255, 0) 100%
  );
  min-height: calc(100vh - 88px);
  margin-bottom: -3em;
}

.stickyFilters {
  position: fixed;
  top: 30%;
  width: inherit;
}


.shopDisplayWrapper {
  width: 80%;
  background: var(--clr-light);
}


@media (max-width: 855px) {
  .stickyFilters,
  .leftSideBarWrapper {
    width: 40%;
  }
  .shopDisplayWrapper {
    width: 60%;
  }
}

.filterCategoryHeader {
  text-transform: uppercase;
  background: var(--clr-gray2);
  text-align: center;
  padding: .2em;
  border-radius: 2px;
}

.checkboxList,
.radioList {
  list-style: none;
  margin: 12px;
  padding: 0;
  list-style: none;
  width: 100%;
  max-width: 320px;
}

.checkboxListItem {
  margin: 5px 0;
  position: relative;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--clr-gray2));
    background: var(--b, var(--clr-light));
    -webkit-transition: background .3s, border-color .3s, box-shadow .2s;
    transition: background .3s, border-color .3s, box-shadow .2s;
  }

  input[type='checkbox']:after,
  input[type='radio']:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  }

  input[type='checkbox']:checked,
  input[type='radio']:checked {
    --b: var(--clr-accent);
    --bc: var(--clr-accent);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }

  input[type='checkbox']:checked {
    --r: 43deg;
  }

  input[type='radio']:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: .9;
  }

  input[type='radio']:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  input[type='radio']:disabled + label {
    cursor: not-allowed;
  }

  input[type='radio']:after {
    opacity: var(--o, 0);
  }

  input[type='radio']:checked {
    --o: 1;
  }

  input[type='checkbox'] {
    width: 38px;
    border-radius: 11px;
  }

  input[type='checkbox']:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--clr-gray2));
    -webkit-transform: translateX(var(--x, 0));
            transform: translateX(var(--x, 0));
  }

  input[type='checkbox']:checked,
  input[type='radio']:checked {
    --ab: var(--clr-light);
    --x: 17px;
  }
  
  input[type='checkbox']:hover:not(:checked):not(:disabled),
  input[type='radio']:hover:not(:checked):not(:disabled) {
    --bc: var(--clr-neighbor2);
  }

  input[type='radio']:not(.switch) {
    width: 21px;
  }

  input[type='checkbox'] + label,
  input[type='radio'] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }

  input[type='radio'] {
    border-radius: 50%;
  }

  input[type='radio']:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--clr-light);
    opacity: 1;
    -webkit-transform: scale(var(--s, 0.7));
            transform: scale(var(--s, 0.7));
  }

  input[type='radio']:checked {
    --s: .5;
  }

  .checkboxLabel {
    text-transform: capitalize;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
  }
}

.getMoreWrapper{
  display: flex;
  justify-content: center;
}

/*------------------------------- Search Form -------------------------------*/

.searchInputWrapper {
  display: flex;
  flex-grow: 1;
}

.searchFormWrapper {
  background-color: var(--clr-neighbor1);
  width: 80vw;
  margin: 2em auto;
  border-radius: 3px;
  border: 1px solid var(--clr-dark);
  border-bottom-width: 2px;
}

.searchForm {
  width: 100%;
  display: flex;
  justify-content: center;
}

.searchSpan {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.searchInput {
  flex-grow: 1;
  margin: auto 1em;
  border-radius: 2px;
  border: 0;
  height: 2.4rem;
  padding: .5em 1em;
  font-family: var(--ff-primary);
}

.searchSelectWrapper {
  margin: auto .7em;
  height: 2.4rem;
}

@media (max-width: 855px) {
  .searchSelectWrapper,
  .searchDropdown,
  .searchSelect,
  .verticalRuleSmall {
    display: none;
  }
}

.searchSelect {
  border-radius: 2px;
  border: 0;
  height: 2.4rem;
  padding: .5em 1em;
  font-family: var(--ff-primary);
  outline: none;
  font-weight: var(--fw-bold);
  cursor:pointer;
  display:inline-block;
  position:relative;
}

.searchDropdown {
  outline: none;
  border: none;
}

/*------------------------------- Cart -------------------------------*/

.cartWrapper {
  display: flex;
}


.cartLeft {
  width: 50%;
}

.cartRight {
  width: 50%;
}

@media (max-width: 850px) {
  .cartWrapper {
    flex-direction: column;
  }
  .cartLeft,
  .cartRight {
    width: 100%;
  }
}

.itemLength {
  text-align: center;
}

.cartIncrementWrapper {
  display: flex;
  margin-top: 0;
  justify-content: center;
}

.incrementSpan {
  font-size: var(--fs-small);
  background: var(--clr-gray2);
  padding: 0 .5em;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  text-transform: uppercase;
  border: 1px solid var(--clr-neighbor3);
  border-right: none;
  user-select: none;
  width: 8em;
}

.incrementInput {
  padding: 0 .5em;
  width: 3em;
  text-align: center;
  border: none; /* <-- This thing here */
  border: 1px solid var(--clr-neighbor3);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.dropInWrapperInner {
  width: 300px;
}

.checkoutCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1em;
}

.checkoutTotal{
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  font-size: var(--fs-h3);
  background: var(--clr-neighbor1);
  border-radius: 3px;
  padding: .5em 2em;
}

.addressWrapper,
.braintree-dropin {
  margin: 1em auto;
  border: 1px solid var(--clr-gray2);
  border-radius: 3px;
  padding: 1em;
  height: 290px;
  width: 300px;
  display: block;
  text-align: center;
}

.braintree-dropin {
  height: 550px;
}

.pageDescriptionAddress,
.braintree-heading {
  text-align: center;
  margin: 0;
  margin-bottom: .6em;
  line-height: var(--fs-h3);
  font-size: var(--fs-body);
  font-weight: var(--fw-reg);
  text-transform: uppercase;
  color: var(--clr-neighbor2);
  font-family: var(--ff-primary);
}

.braintree-heading {
  position: relative;
  margin: -.5em auto;
}

.addressAllWrapper {
  height: 480px;
}

/*------------------------------- Rules -------------------------------*/

.verticalRule {
  background: linear-gradient(
      0deg, 
      rgba(51, 74, 82, 0) 5%, 
      var(--clr-neighbor2) 15%, 
      var(--clr-neighbor2) 85%, 
      rgba(51, 74, 82, 0) 95%
    );
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 1px;
    justify-self: center;
}

.verticalRuleShop {
  background: linear-gradient(
      0deg, 
      rgba(255, 255, 255, 0) 0%, 
      var(--clr-gray2) 20%, 
      var(--clr-gray2) 80%, 
      rgba(255, 255, 255, 0) 100%
    );
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 1px;
    justify-self: center;
}


.verticalRuleSmall {
  background: linear-gradient(
    0deg, 
    rgba(51, 74, 82, 0) 10%, 
    var(--clr-neighbor3) 30%, 
    var(--clr-neighbor3) 70%, 
    rgba(51, 74, 82, 0) 90%
  );
  width: 1px;
  height: auto;
}

.verticalRuleSmallWhite,
.verticalRuleSmallWhiteLeft {
  background: linear-gradient(
    0deg, 
    rgba(255, 255, 255, 0) 10%, 
    white 30%, 
    white 70%, 
    rgba(255, 255, 255, 0) 90%
  );
  width: 1px;
  height: auto;
}

.horizontalRule {
  background: linear-gradient(
    90deg, 
    rgba(51, 74, 82, 0) 0%, 
    var(--clr-neighbor2) 15%, 
    var(--clr-neighbor2) 85%, 
    rgba(51, 74, 82, 0) 100%
  );
  height: 1px;
}

.horizontalRuleGray {
  background: linear-gradient(
    90deg, 
    var(--clr-gray) 10%, 
    var(--clr-neighbor2) 30%, 
    var(--clr-neighbor2) 70%, 
    var(--clr-gray) 90%
  );
  height: 1px;
}

.horizontalRuleProduct {
  background: linear-gradient(
    90deg, 
    rgba(51, 74, 82, 0) 10%, 
    var(--clr-neighbor2) 30%, 
    var(--clr-neighbor2) 70%, 
    rgba(51, 74, 82, 0) 90%
  );
  height: 1px;
  width: 100%;
}

.horizontalRuleSmall {
  background: linear-gradient(
    90deg, 
    rgba(51, 74, 82, 0) 30%, 
    var(--clr-neighbor3) 40%, 
    var(--clr-neighbor3) 60%, 
    rgba(51, 74, 82, 0) 70%
  );
  height: 1px;
  margin-bottom: .5em;
}

.landingRuleWrapper {
  height: 2em;
  background: var(--clr-gray);
}

@media (max-width: 855px) {
  .verticalRuleSmallWhiteLeft{
    display: none;
  }
}

/*------------------------------- SVGs -------------------------------*/

.transitionImage {
  filter: invert(93%) sepia(11%) saturate(1907%) hue-rotate(167deg) brightness(92%) contrast(94%);
  transform: scale(-1) translateY(-.5em);
  max-width: 100%;
}

.landingImage {
  filter: invert(99%) sepia(9%) saturate(222%) hue-rotate(200deg) brightness(112%) contrast(87%);
  transform: scale(-1);
  max-width: 100%;
}

.landingImageWhite {
  filter: invert(100%);
  transform: scale(1);
  max-width: 100%;
}

.landingImageFlip {
  filter: invert(99%) sepia(9%) saturate(222%) hue-rotate(200deg) brightness(112%) contrast(87%);
  transform: scale(1);
  max-width: 100%;
  margin-top: -1px;
}

.loadingWrapper {
  display: flex;
  justify-content: center;
  margin-top: -1px;
}

.loading {
  justify-self: space-around;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 20px solid rgba(12, 130, 158, .2);
  border-top-color: var(--clr-neighbor2);
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*------------------------------- Footer -------------------------------*/

.footer {
  background: var(--clr-neighbor3);
  color: var(--clr-light);
  text-align: center;
  width: 100%;
  height: 5.5rem;
  position: relative;
  padding: 1em 0;
  margin-top: -5.5rem; /* negative value of footer height */
  clear: both;
} 

.footer a { 
  color: inherit;
  text-decoration: none;
}

.footerLink {
  font-weight: var(--fw-bold);
}

.footerLink:hover,
.socialListLink:hover {
  opacity: 0.7;
}

.footerLink:hover {
  text-decoration: underline;
}

.socialList {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0em 0 0;
  padding: 0;
}

.socialListItem {
  margin: 0 1em;
}

.socialListlink {
  padding: 10em;
}

/*------------------------------- Walkthrough -------------------------------*/


.walkThroughIntro {
  width: 66%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.25em;
}

.walkthroughWrapper {
  margin-top: 2em;
  margin-bottom: 5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.walkthroughItem {
  display: grid;
  grid-template-areas: 
  "header header header"
  "gif gif gif"
  "gif gif gif"
  "gif gif gif"
  "text text text";
  margin: .5em 1em;
  width: 512px;
}

.gif {
  grid-area: gif;
  border: 1px solid var(--clr-neighbor2);
  height: 512px;
}

.walkThroughName {
  grid-area: header;
  margin: 1em 0em;
  padding: .5em 0em;
  border-radius: 3px;
  color: var(--clr-light);
  background: var(--clr-accent);
  text-transform: uppercase;
  align-self: center;
  text-align: center;
  font-size: var(--fs-h3);
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 2px;
  border-color: var(--clr-dark);
}

.walkThroughText {
  grid-area: text;
  line-height: 18px;
  height: 60px;
  margin: 0;
  margin-top: 1em;
}

/*------------------------------- Errors -------------------------------*/

.errorWrapper {
  min-height: 3em;
  transition: transform 150ms ease-in-out;
  text-align: center;
  padding: .1em 1em;
  width: 22rem;
  margin: auto;
  margin-top: -2em;

  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

.errorWrapperPayment {
  margin-top: 2em;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.successHelp,
.successFade {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.successFade {
  transition: transform 1000ms ease-in-out;

  -webkit-animation: fadeout 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout 1s; /* Firefox < 16 */
  -ms-animation: fadeout 1s; /* Internet Explorer */
  -o-animation: fadeout 1s; /* Opera < 12.1 */
  animation: fadeout 1s;
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
  }
  
  /* Firefox < 16 */
  @-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
  }
  
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
  }
  
  /* Internet Explorer */
  @-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
  }
  
  /* Opera < 12.1 */
  @-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
  }

.errorText,
.successText {
  background: #ffdfdf;
  border-style: solid;
  border-radius: .25em;
  border-width: 1px;
  border-bottom-width: 2px;
  border-color: #ffa7a7;
  font-weight: var(--fw-bold);
  color: red;
  font-size: var(--fs-small);
  text-transform: uppercase;
  user-select: none;
}

.successText {
  background: #e7ffdf;
  border-color: #a7ffae;
  color: green;

}